<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" class="flex m-0 p-0 h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block stylesheets %}
            <!-- Link Swiper's CSS -->
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com">
            <link href="https://fonts.gstatic.com" crossorigin>

            <!-- Flashy notifier -->
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

            <!-- Stylesheet -->
            <link href="{{ asset('styles/scss/main.css') }}" rel="stylesheet">

        {% endblock %}

    </head>

    <body class="h-full w-full">
        {% block body %}

        {% endblock %}
        {% block javascript %}

            <script src="//code.jquery.com/jquery.js"></script>
            <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <!-- Swiper -->
            <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtp1e-knepStUI5o_won1e-y4Sewu8Q84&callback=initMap"></script>

            <!-- Typed.JS -->
            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

            <!-- Main JS -->
            <script src="{{ asset('scripts/main.js') }}"></script>

        {% endblock %}

        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
</html>
