{% extends 'base.html.twig' %}

    {% block title %}Hello DealsController!{% endblock %}

    {% block body %}
        <div class="container">
            {% for deal in deals %}
                {% if deal.getIsForSale == true %}
                    <section>
                        <div class="box">
                            <div class="img">
                                {% if deal.shouldShowDiscount %}
                                    <div class="red-ribbon">
                                        <span>
                                            <div class="discount_amount">{{ deal.getPercentDiscount }}%</div>
                                        </span>
                                    </div>
                                {% endif %}
                                <img src="{{ deal.getFullImg }}" alt="Deal afbeelding"/>
                                {{ deal.divIsNew|raw }}
                            </div>
                            <div class="title">{{ deal.getTitle }}</div>
                            <div class="company">{{ deal.company.name }}</div>
                            <div class="sold">Verkocht: {{ deal.getSold }}</div>
                            <div class="from">{{ deal.getFromPrice|raw }}</div>
                            <div class="price">{{ deal.getPriceAsHtml|raw }}</div>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(deals) }}
        </div>
    {% endblock %}

