{% extends 'base.html.twig' %}

{% block body %}

    <img src="https://media.socialdeal.nl/backgrounds/snowflake_s-hertogenbosch.jpg" class="fixed w-full h-full object-cover -z-10 hidden lg:block">
    <div class="w-full lg:w-10/12 m-auto p-0 font-roboto bg-white flow-root overflow-hidden">
    {% include('nav/nav.html.twig') %}

    <!-- Start Description Page -->
        <div class="box w-full rounded-lg mt-6 lg:m-0 pt-5 lg:p-5">
            <div class="img relative flex flex-row w-full m-auto">
                <div class="swiper mySwiper w-11/12">
                    {% if deals.shouldShowDiscount %}
                        <div class="red-ribbon w-52 h-8 text-center top-5 -right-10 leading-5 absolute z-50 py-1 rotate-45 text-lg font-roboto not-italic font-semibold text-white bg-red">
                            <span>
                                <div class="discount_amount mt-0.5 ml-9">{{ deals.getPercentDiscount }}%</div>
                            </span>
                        </div>
                    {% endif %}

                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ deals.getFullImg }}" alt="Deal afbeelding" class="rounded-b-xl lg:rounded-xl object-cover block  pt-1 lg:p-px w-full h-80"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://www.expatica.com/app/uploads/sites/9/2017/07/cost-of-living-thun.jpg" alt="Obama laugh" class="rounded-b-xl lg:rounded-xl object-cover block  pt-1 lg:p-px w-full h-80">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://myrightbird.com/assets/uploads/close-up-photo-of-blue-orange-and-green-parrot-scaled.jpg" alt="me falling in thoughts" class="rounded-b-xl lg:rounded-xl object-cover block  pt-1 lg:p-px w-full h-80">
                        </div>
                        <div class="swiper-slide">
                            <img src="http://3.bp.blogspot.com/-Ldj-C9imjlE/VSV8vnaZSTI/AAAAAAAAAnQ/5jfJt1DnAkI/s1600/Persian%2BManuscript%2BFalnameh%2BMoon%2Bsplit.jpg" alt="Me during the project" class="rounded-b-xl lg:rounded-xl !object-fill block pt-1 lg:p-px w-full h-80">
                        </div>
                        {{ deals.divIsNew|raw }}
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>

                </div>
            </div>

            <div class="p-5 lg:p-0">
                <div class="title font-medium lg:mt-2 mb-2.5 mx-0 text-xl w-full">{{ deals.getTitle }}</div>

                <!-- Deal detail section -->
                <div class="flex flex-col lg:flex-row lg:justify-between pb-1.5">
                    <!-- Deal company&city name & price info -->
                    <div class="w-full lg:w-2/6">
                        <div class="lg:mt-2 text-base text-grey">{{ deals.company.name }}</div>
                        <div class="text-base text-grey">{{ deals.city.name }}</div>

                        <div class="w-full flex flex-row-reverse justify-between lg:m-8 lg:flex-col">
                            <div class="flex justify-evenly items-center lg:w-full lg:border-y border-y-black">
                                <div class="line-through leading-6 text-grey mr-2">{{ deals.getFromPrice|raw }}</div>
                                <div class="text-2xl leading-6 my-5 flex text-green">{{ deals.getPriceAsHtml|raw }}</div>
                            </div>

                            <div class="flex text-darkBlue lg:border-b border-black lg:w-full">
                                <div class="flex justify-center py-4 items-center w-full flex-row lg:flex-col lg:border-r border-black">
                                    <div >Verkocht: </div>
                                    <div > {{ deals.getSold }}</div>
                                </div>

                                <div class="hidden lg:flex w-full flex-row lg:flex-col lg:items-center justify-center ">
                                    <div>Korting:</div>
                                    <div>{{ deals.getPercentDiscount }}%</div>
                                </div>
                            </div>
                        </div>
                        <a href="https://www.socialdeal.nl">
                            <div class="flex items-center justify-center bg-green w-3/4 m-auto lg:ml-20 h-20 lg:h-24 rounded-2xl text-white text-2xl lg:text-4xl">
                                <span>
                                    Koop nu!
                                </span>
                            </div>
                        </a>
                    </div>
                    <!-- End Deal company&city name & price info -->

                    <!-- Company Contact Info -->
                    <div class="shadow-md mt-5 lg:mt-0 pb-5 w-full lg:w-4/12">
                        <h4 class="text-xl font-semibold my-5 px-4">Contact</h4>
                        <div class="w-full px-4">
                            <div id="map" data-location="{{ deals.company.getLatLng }}" class="w-full h-52 my-2.5 rounded-lg"></div>
                            <div class="shadow-lg">
                                <a href="tel:{{ deals.company.number }}" class="flex content-start relative items-center justify-between p-4">
                                    <span class="material-icons mr-8">phone</span>
                                    <span class="flex-1"> {{ deals.company.number }} </span>
                                    <span class="material-icons">chevron_right</span>
                                </a>
                                <a href="{{ deals.company.website }}" class="flex content-start relative items-center justify-between p-4">
                                    <span class="material-icons mr-8">language</span>
                                    <span class="flex-1"> {{ deals.company.website }} </span>
                                    <span class="material-icons">chevron_right</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Company Contact Info -->
                </div>

                <!-- Start Description Section -->
                <div class="description mt-10">
                    <h4 class="font-medium text-xl">Lees meer</h4>
                    {{ deals.description|raw }}
                </div>
                <!-- End Description Section -->

            </div>
        </div>
        <!-- End Description Page -->
    </div>
{% endblock %}